<h1>Snippets</h1>
<%= paginate @snippets %>
<% @snippets.each do |snippet| %>
  <% if (can? :manage, snippet) || (!snippet.private?) %>
      <%= link_to snippet.title, snippet_path(snippet) %>
      <%= markdown(("~~~#{snippet.kind.title.downcase}\n#{snippet.work}\n~~~").truncate(200)) %>
      <hr>
  <% end %>
<% end %>
<%= paginate @snippets %>

