@import "palette.scss";
// @import "main_style.scss";
@import "main.scss";
@import "snippets.scss";

html, body {
  margin: 0px;
  padding: 0px;
  background-color: $light-grey;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  color: $dark-grey
}
.content {
  max-width: 960px;
  width: 100%;
  margin: auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  font-size: 20px;
  background-color: $dark-grey;
  color: $light-grey;

  a {
  text-decoration: none;
  color: $light-grey;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  }

  a:hover {
    background-color: $banana;
    color: $dark-grey;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
}
.form-container {
  width: 60%;
  h1 {
    text-align: center;
  }
  textarea {
    width: 80%;
    margin: auto;
  }
}


.snippet-container input {
    margin: 15px;
    width: 80%;
    padding: 1%;
    display: block;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 22px;
    color: #666366
}
.snippet-container {
    margin: 0px 15px 15px 15px;
    min-width: 100%;
    margin-top: 5%;
    padding: 0px 16px;
    background-color: #a8a7aa;
    border: 2px solid #686968;
    border-radius: 10px;
}
.snippet-container .form-drop-down {
    margin-left: 15px;
    margin-bottom: 15px;
}
.snippet-container .text-input {
    width: 96%;
    margin: 0 auto;
    margin-left: 15px;
    font-size: 22px;
}
.snippet-container .form-button {
    background-color: #a7410f;
    width: 25%;
    font-size: 22px;
    color: #404142;
    color: white;
    padding: 10px 18px;
    margin: 15px auto;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: solid 1px #eee;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.snippet-container h1 {
  text-align: center;
  background-color: #a7410f;
  color: white;
  margin: 0px -16px;
  margin-top: 0px;
  margin-bottom: 15px;
  border-radius: 8px 8px 0 0;
  padding: 2.5%;

}