// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snippets-list {
  ul {
    list-style: none;
    li {
      padding: 5px;
      font-size: 20px;
    }
  }

}